/* Enable smooth scrolling behavior for the entire page */
html {
    scroll-behavior: smooth; 
}
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0px; /*Removes default margins & padding */
    display: flex;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
  }
  
  h1 {
    font-size: 8rem; 
    margin-bottom: 20px;
    color: #333;
    text-align: right; /* Right-aligned to prevent touching edge */
    margin-right: 200px; 
  }
  
  /* Creates a flexible content container*/
  .content {
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

/* Image sizing and spacing */
img {
    width: 500px; 
    height: auto; 
    margin-right: 40px; 
  }

  /* Text block formatting */
  p {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.8;
    color: #282828;
    max-width: 650px;
    font-family: 'Montserrat';
    text-align: left;
  }

/* Back button positioning */
.back {
  position: absolute;
  top: 20px;
  left: 20px;
}

.back img {
  width: 40px; 
  height: auto;
}

/* Dark themed section styling (Minnie) */
.black-section {
  background-color: #2F2F2F;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding: 50px;
  text-align: center;
  margin-top: 50px; 
}

/* Container for image and text layout (Benjamin) */
/* Creates side-by-side layout with space between items */
.img7-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px;
  flex-wrap: wrap; /*Allows wrapping on smaller screens */
}

/* Styling for text container in dark section */
.text-container {
  font-size: 0.5rem;
  background-color: black; 
  color: white; 
  padding: 50px; 
  width: 45%;
  text-align: left; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  height: 100%; 
}

/* Mew section specific styling */
.mew {
  padding-left: 50px;
  max-width: 50%; /* Ensures text section does not take up full width */
}
/* Mew image container styling */
.mew-img{
  max-width: 40%; /* Maintains aspect ratio */
  display: flex;
  height: auto; 
  object-fit: cover; 
}

/* Subheading styles */
h3 {
  margin:0;
  padding:0;
  font-size: 3rem; /* Makes the heading bigger */
  margin-bottom: 20px;
  color: #333;
  text-align: right;
  padding-right: 100px;
}
.mew h3{
  text-align: left;
  padding-left: 50px;
}